<div class="container">
  <h1>Admin Dashboard</h1>
  <p>First name: <%= @admin.first_name %></p>
  <p>Last name: <%= @admin.last_name %></p>
  <p>Email: <%= @admin.email %></p>
  <p><%= link_to "Edit Profile", edit_admin_path(@admin) %></p>
</div>
