<div class="list-group">
  <% @orders.each do |order| %>
    <%= link_to order_path(order_id: order.id), id: "order_#{order.id}", class: "list-group-item" do %>
      <strong>Order Total:</strong> <%= number_to_currency(order.total_price_in_dollars) %>
      <strong>Date:</strong> <%= order.date %>
      <strong>Status:</strong> <%= order.status.name.capitalize %>
    <% end %>
  <% end %>
</div>
