<div class="wrapper">
  <h1>Account Information</h1>
  <p>Name: <%= @customer.full_name %></p>
  <p>Email: <%= @customer.email %></p>
  <p><%= link_to "Order History", customer_orders_path %></p>
</div>
