<div class="container">
  <h1>Account Information</h1>
  <p>First name: <%= @customer.first_name %></p>
  <p>Last name: <%= @customer.last_name %></p>
  <p>Email: <%= @customer.email %></p>
  <p>Password: ****</p>
</div>
