<div class="jumbotron">
  <div class="layer">
    <div class="jumbotron-title">TIMBER SHOP</div>
    <div class="jumbotron-text">Get your lumber here, matey!</div>
  </div>
</div>

<div class="container-fluid pendant-holder">
  <div class="col-sm-6 col-md-4 pendant">
    Shop All Items
  </div>
  <div class="col-sm-6 col-md-4 pendant">
    Shop Items by Category
  </div>
  <div class="col-sm-6 col-md-4 pendant">
    Sign Up for Coupons
  </div>
</div>
