footer
  position: absolute
  bottom: 0
  width: 100%
  display: none

.footer-top
  height: 100px
  background-color: $green-gray
  color: $light-gray-blue

.footer-bottom
  height: 30px
  background-color: $dark-brown-gray
  color: $light-gray-blue
  text-align: center
  padding: 5px

#items_page.footer
  position: relative
  bottom: 0
  width: 100%
