$nav-height: 60px

.navbar
  background-color: rgba(255,255,255,0.7)
  height: $nav-height
  margin-bottom: 0
  border: none
  border-radius: 0

.navbar-brand
  color: white
  text-decoration: none
  line-height: $nav-height
  padding: 0 0 0 20px

.navbar-brand:hover
  color: white

nav > div > ul > li > a
  color: white
  text-decoration: none
  margin-right: 20px

.nav
  font-size: 1.1em

nav > div > ul > li > a:hover
  color: $dark-brown-gray
  font-weight: bold
  text-decoration: none

.dropdown
  display: inline

.dropdown button
  background-color: $green-gray
  border: 0px
  color: white
  line-height: $nav-height
  padding: 0px 20px 0px 15px
  vertical-align: text-bottom

.cart .cart_counter
  color: white
  font-weight: bold
  font-size: .9em
  position: relative
  right: -17px
  top: -7px
  background-color: $green-gray
  border-radius: 15px
  border: 2px solid white
  padding: 3px 7px
  position: relative
  z-index: 1

.cart .glyphicon-shopping-cart
  margin-top: 10px
  color: $green-gray
  font-size: 2.5em
  position: absolute
  z-index: 0

.hidden
  display: none
