$nav-height: 50px

.navbar
  background-color: #3c4040
  height: $nav-height

.navbar-brand
  color: white
  text-decoration: none
  line-height: $nav-height
  padding: 0 0 0 20px

.navbar-brand:hover
  color: white

nav > div > ul > li > a
  color: white

nav > div > ul > li > a:hover
  color: #04abb8

.dropdown
  display: inline

.dropdown button
  background-color: #3c4040
  border: 0px
  color: white
  line-height: $nav-height
  padding: 0px 20px 0px 15px
  vertical-align: text-bottom
