$dark-brown-gray: #42424c
$gray-blue: #9eafb4
$light-gray-blue: #deeaea
$tan: #c9a379
$green-gray: #576363
$white: white

$nav-height: 50px

.navbar
  background-color: $green-gray
  height: $nav-height

.navbar-brand
  color: white
  text-decoration: none
  line-height: $nav-height
  padding: 0 0 0 20px

.navbar-brand:hover
  color: white

nav > div > ul > li > a
  color: white
  text-decoration: none

nav > div > ul > li > a:hover
  color: $dark-brown-gray
  font-weight: bold
  text-decoration: none

nav > div > ul > li > a > shopping-bag:hover
  color: $dark-brown-gray
  font-weight: bold

.dropdown
  display: inline

.dropdown button
  background-color: $green-gray
  border: 0px
  color: white
  line-height: $nav-height
  padding: 0px 20px 0px 15px
  vertical-align: text-bottom

.shopping-bag
  background-image: url(white_shopping_bag.png)
  background-repeat: no-repeat
  background-size: contain

.cart-counter
  color: $dark-brown-gray
  font-weight: bold
  font-size: 1.2em
